<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mpesa API</title>
</head>
<body>
    <h1>Mpesa APIs</h1>
    <div class="apis">
        <button>
            <a href="{% url "stkpush_view" %}">Lipa Na Mpesa Online (Push Notification ) - STK Push</a>
        </button>

        <button>
            <a href="{% url "till_balance_query" %}">Till Balance Query</a>
        </button>
    </div>
</body>
</html>